<h1>Courses</h1>
<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th><%= link_to "Nearest start date", {sort_by_nearest_start_date: true}%></th>
      <th>Number of students</th>
    </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.name, course_path(course) %></td>
      <td><%= course.nearest_training_date %></td>
      <td><%= course.nearest_training_students_number %></td>
    </tr>
  <% end %>
  </tbody>
</table>
